main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-group {
  --padding: 2.5rem;
  --radius: 4.5rem;

  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.4);
  padding: var(--padding);
  border-radius: var(--radius);
  width: max-content;
}

.card {
  border: 2px solid #eeeeee44;
  border-radius: calc(var(--radius) - var(--padding));
  height: 50px;
  width: 50px;
  aspect-ratio: 1 / 1;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOVER EFFECT */

.card-group {
  transform-style: preserve-3d;
  transform: perspective(1000px);

  div {
    --scale-max: 1.5;
    --margin-max: 2rem;

    transition: 0.5s;

    &:hover {
      transform: scale(var(--scale-max)) translateY(-20px);
      margin: 0 var(--margin-max);
    }

    &:hover + *,
    &:has(+ *:hover) {
      transform: scale(calc(var(--scale-max) - 0.2));
      margin: 0 calc(var(--margin-max) - 1rem);
    }
    &:hover + * + *,
    &:has(+ * + *:hover) {
      transform: scale(calc(var(--scale-max) - 0.3));
    }
  }
}
